.btnComprar{ 
    border:none;
    
    
    
 
}
.navbar{
    width: 100%;
    height: 70px;
}

.text-logo{
    display:flex;
    align-items: center;
    color: white;
    
}
.textoBsAs{
    color: white;
    border:  white   2px solid;
    width: 50%;
    height: 50%;
    z-index: 0;
    text-align: end;

    margin: -30% 0% 0% 40%;
}

.bsastext {
    color:white;
} 
.honolulu{
    background-color: rgb(71, 72, 73);
    margin:25px 0px 0px 0px;
}



.foot{
    display: flex;
    justify-content: space-around;
    color: white;
    
}
.footer{
    background-color: rgb(74, 74, 238);
}
 
.oradores{
    margin: 20% 0% 0% 0%;
}
.serOrador{
    
}